<div> 
    <h1>Minha História</h1>
    <p> Executivo de DNA inovador, forjado nas escolas ágeis e com formação deexcelência 
    (Engenheiro de Produção pela UFRJ, Finanças peloCOPPEAD-UFRJ, gestão de projetos PMI), já liderou 
    startups edezenas de projetos de tecnologia/inovação premiados porinstituições como Endeavor, 
    Finep, MCTI e Sebrae, assim como projetos de inteligência operacional para grandes redes de 
    franquias do país (setores de varejo e educação).Áreas de expertise: turnaround de negócios, 
    estruturação de operações de serviços e produtos (viabilidade financeira / plano de ação para 
    expansão / qualidade operacional), automação de processos com o uso de bots, inteligência 
    gerencial (business analytics / dashboards / webscrapping para monitoramento de informações na 
    web em tempo real) e ferramentas digitais (simuladores e sistemas financeiros).
    </p>
</div> 
